In [34]:
# Parte 1

import pandas as pd
import numpy as np
df_pessoas = pd.DataFrame({
'nome': [' Lucas', 'mariana ', 'JOÃO', 'ana', 'Ana', 'lucas '],
'idade': [28, 32, np.nan, 23, 23, 28],
'salario': [3200, 4500, 999999, np.nan, 3000, 3200],
'cidade': ['SP', 'sp', 'SP', 'RJ', np.nan, 'sp'],
'genero': ['M', 'F', 'M', 'F', 'F', 'M'],
'escolaridade': ['Superior', 'Pós-Graduação', 'Médio', 'Superior', 'Superior', 'Superior']
})

print(df_pessoas)

       nome  idade   salario cidade genero   escolaridade
0     Lucas   28.0    3200.0     SP      M       Superior
1  mariana    32.0    4500.0     sp      F  Pós-Graduação
2      JOÃO    NaN  999999.0     SP      M          Médio
3       ana   23.0       NaN     RJ      F       Superior
4       Ana   23.0    3000.0    NaN      F       Superior
5    lucas    28.0    3200.0     sp      M       Superior

In [35]:
# Parte 2

# Padronizar
df_pessoas['nome'] = df_pessoas['nome'].str.strip().str.lower()
df_pessoas['cidade'] = df_pessoas['cidade'].str.strip().str.lower()

# Remover Duplicados
df_pessoas = df_pessoas.drop_duplicates()

print(df_pessoas)

      nome  idade   salario cidade genero   escolaridade
0    lucas   28.0    3200.0     sp      M       Superior
1  mariana   32.0    4500.0     sp      F  Pós-Graduação
2     joão    NaN  999999.0     sp      M          Médio
3      ana   23.0       NaN     rj      F       Superior
4      ana   23.0    3000.0    NaN      F       Superior

In [36]:
# Preencher Valores Nulos
df_pessoas['idade'] = df_pessoas['idade'].fillna(df_pessoas['idade'].mean())

print(df_pessoas)

      nome  idade   salario cidade genero   escolaridade
0    lucas   28.0    3200.0     sp      M       Superior
1  mariana   32.0    4500.0     sp      F  Pós-Graduação
2     joão   26.5  999999.0     sp      M          Médio
3      ana   23.0       NaN     rj      F       Superior
4      ana   23.0    3000.0    NaN      F       Superior

In [37]:
# Substitua o valor 999999 da coluna salario por np.nan e depois preencha os salários ausentes com a média
df_pessoas['salario'] = df_pessoas['salario'].replace(999999.0, np.nan)
df_pessoas['salario'] = df_pessoas['salario'].fillna(df_pessoas['salario'].mean())

# Calcular a média ignorando os NaNs
media_salario = df_pessoas['salario'].mean()

# Preencher os NaNs com a mediana
df_pessoas['salario'] = df_pessoas['salario'].fillna(media_salario)

print(df_pessoas)

      nome  idade      salario cidade genero   escolaridade
0    lucas   28.0  3200.000000     sp      M       Superior
1  mariana   32.0  4500.000000     sp      F  Pós-Graduação
2     joão   26.5  3566.666667     sp      M          Médio
3      ana   23.0  3566.666667     rj      F       Superior
4      ana   23.0  3000.000000    NaN      F       Superior

In [38]:
# 7. Aplique Label Encoding na coluna genero.
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

df_pessoas['genero'] = encoder.fit_transform(df_pessoas['genero'])

print(df_pessoas)

      nome  idade      salario cidade  genero   escolaridade
0    lucas   28.0  3200.000000     sp       1       Superior
1  mariana   32.0  4500.000000     sp       0  Pós-Graduação
2     joão   26.5  3566.666667     sp       1          Médio
3      ana   23.0  3566.666667     rj       0       Superior
4      ana   23.0  3000.000000    NaN       0       Superior

In [17]:
# 8. Aplique One-Hot Encoding na coluna cidade.
df_pessoas = pd.get_dummies(df_pessoas, columns=['cidade'], drop_first=True)
print(df_pessoas)

      nome  idade  salario  genero   escolaridade  cidade_sp
0    lucas   28.0   3200.0       1       Superior       True
1  mariana   32.0   4500.0       0  Pós-Graduação       True
2     joão   26.5   3200.0       1          Médio       True
3      ana   23.0   3200.0       0       Superior      False
4      ana   23.0   3000.0       0       Superior      False

In [39]:
# 9. Crie uma codificação ordinal para a coluna escolaridade com a seguinte hierarquia:

from sklearn.preprocessing import OrdinalEncoder

# Ordem desejada para a escolaridade
escolaridade = ['Fundamental', 'Médio', 'Superior', 'Pós-Graduação']

# Inicializando o OrdinalEncoder com as categorias ordenadas
encoder = OrdinalEncoder(categories=[escolaridade])

# Aplicando a codificação ordinal na coluna escolaridade
df_pessoas['escolaridade'] = encoder.fit_transform(df_pessoas[['escolaridade']])

# Garantir que a coluna escolaridade seja do tipo inteiro
df_pessoas['escolaridade'] = df_pessoas['escolaridade'].astype(int)

print(df_pessoas)

      nome  idade      salario cidade  genero  escolaridade
0    lucas   28.0  3200.000000     sp       1             2
1  mariana   32.0  4500.000000     sp       0             3
2     joão   26.5  3566.666667     sp       1             1
3      ana   23.0  3566.666667     rj       0             2
4      ana   23.0  3000.000000    NaN       0             2

In [40]:
# 10. Exiba os tipos de dados das colunas.
print(df_pessoas.dtypes)

nome             object
idade           float64
salario         float64
cidade           object
genero            int64
escolaridade      int64
dtype: object

In [41]:
# 11. Use df.describe() para obter estatísticas descritivas.
print(df_pessoas.describe())

           idade      salario    genero  escolaridade
count   5.000000     5.000000  5.000000      5.000000
mean   26.500000  3566.666667  0.400000      2.000000
std     3.774917   575.905085  0.547723      0.707107
min    23.000000  3000.000000  0.000000      1.000000
25%    23.000000  3200.000000  0.000000      2.000000
50%    26.500000  3566.666667  0.000000      2.000000
75%    28.000000  3566.666667  1.000000      2.000000
max    32.000000  4500.000000  1.000000      3.000000

In [42]:
print(df_pessoas)

      nome  idade      salario cidade  genero  escolaridade
0    lucas   28.0  3200.000000     sp       1             2
1  mariana   32.0  4500.000000     sp       0             3
2     joão   26.5  3566.666667     sp       1             1
3      ana   23.0  3566.666667     rj       0             2
4      ana   23.0  3000.000000    NaN       0             2

In [43]:
# 13. Faça uma contagem de pessoas por gênero (codificado) usando value_counts().
print(df_pessoas['genero'].value_counts())

genero
0    3
1    2
Name: count, dtype: int64

In [44]:
# 14. Crie uma nova coluna chamada 'salario_normalizado', onde os valores do salário estejam padronizados com média 0 e desvio padrão 1

from sklearn.preprocessing import MinMaxScaler, StandardScaler

scaler_norm = MinMaxScaler()
df_pessoas['salario_normalizado'] = scaler_norm.fit_transform(df_pessoas[['salario']])

scaler_std = StandardScaler()
df_pessoas['salario_padronizado'] = scaler_std.fit_transform(df_pessoas[['salario']])

print(df_pessoas[['salario', 'salario_normalizado', 'salario_padronizado']])

       salario  salario_normalizado  salario_padronizado
0  3200.000000             0.133333            -0.711829
1  4500.000000             1.000000             1.811928
2  3566.666667             0.377778             0.000000
3  3566.666667             0.377778             0.000000
4  3000.000000             0.000000            -1.100099

In [45]:
def classificar_idade(idade):
  if idade < 30:
    return 'jovem'
  else :
    return 'adulto'

df_pessoas['faixa_etaria'] = df_pessoas['idade'].apply(classificar_idade)

print(df_pessoas[['idade', 'faixa_etaria']])

   idade faixa_etaria
0   28.0        jovem
1   32.0       adulto
2   26.5        jovem
3   23.0        jovem
4   23.0        jovem